<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?include Includes/Variables.wxi?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"  Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Icon Id="AppIco.ico" SourceFile="$(sys.SOURCEFILEDIR)Img\AppIco.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIco.ico" />

    <!--<Binary Id="database" SourceFile="$(sys.SOURCEFILEDIR)Scripts\XFilesArchive.sql" />-->
    <Binary Id="CreateTables" SourceFile="$(sys.SOURCEFILEDIR)Scripts\CreateTables.sql" />
    <Binary Id="success_bmp" SourceFile="$(sys.SOURCEFILEDIR)Img\success.bmp" />
    <Binary Id="error_bmp" SourceFile="$(sys.SOURCEFILEDIR)Img\error.bmp" />


    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">

          <Component Id="SqlComponent" Guid="4FFE2197-1999-4E46-9B70-D0A1C731A8F6" KeyPath="yes">
            <!--<Condition><![CDATA[DATABASE_LOGON_TYPE <> "DatabaseAccount"]]></Condition>-->
            <sql:SqlDatabase Id="SqlDatabase" Database="XFilesArchive" Server="[DATABASE_SERVER]"
                             CreateOnInstall="yes" CreateOnReinstall="no" CreateOnUninstall="no"
                             DropOnInstall="no" DropOnReinstall="no" DropOnUninstall="yes" ContinueOnError="no">
              <sql:SqlScript Id="Database" ExecuteOnInstall="yes" ExecuteOnReinstall="no"
                             ExecuteOnUninstall="no" BinaryKey="CreateTables" Sequence="1"></sql:SqlScript>
            </sql:SqlDatabase>
          </Component>

          <Directory Id="loc" Name="loc" />

          <Directory Id="lib" Name="lib" />
          
          
          <Directory Id="ImgFolder" Name="Img">
            <Component Id="CreateImgFolder" Guid="{D30F8848-73D3-46F0-864E-622250CE2F43}">
              <CreateFolder/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="XFilesArchive">
          <Component Id="ProgramMenuDir" Guid="52C3DBC0-2BDD-4308-8CE7-166310EE6F2B">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <util:User Id="SQLUser" Name="[DATABASE_USERNAME]" Password="[DATABASE_PASSWORD]" />

    <FeatureRef Id="ProductFeature" />

    <?include Includes/Conditions.wxi ?>
    <?include Includes/WixUI.wxi ?>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <Property Id="TCPPORT" Value="25"/>

    <!--<UIRef Id="WixUI_InstallDir"/>-->
    <UIRef Id="WixUI_Common" />
    <!--<UIRef Id="WixUI_Mondo" />-->

    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\banner493x58.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\dialog494x312.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\exclamation32x32.ico" />
    <WixVariable Id="WixUIInfoIco" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\information32x32.ico" />
    <WixVariable Id="WixUINewIco" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\new16x16.ico" />
    <WixVariable Id="WixUIUpIco" Value="$(var.SolutionDir)XFilesArchive.SetupProject\Img\up16x16.ico" />
    <!--
    WixUIBannerBmp 493 by 58 pixels,это растровое изображение будет отображаться в верхней части всех страниц, кроме первой страницы установщика.
    WixUIDialogBmp 493 by 312 pixels, это растровое изображение появится на первой странице установщика.
    WixUIExclamationIco 32 by 32 pixels, значок восклицательного знака.
    WixUIInfoIco 32 by 32 pixels, значок информационного знака.
    WixUINewIco 16 by 16 pixels, значок новой папки.
    WixUIUpIco 16 by 16 pixels, значок родительской папки.
    -->
  </Product>

  <?include Includes/DatabaseUI.wxi ?>



</Wix>
