<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
      xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)" 
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />  
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
    
    <Directory Id="DesktopFolder" Name="Desktop"/>
    
    <FeatureRef Id="ProductFeature" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>

 <!--asasdada-->

    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
     
    
	</Product>
  <!--<?include DatabaseUI.wxi ?>-->


	
</Wix>
