<?xml version="1.0" encoding="UTF-8"?>
<?define Name = "XFilesArchive.Bootstrapper" ?>
<!-- The manufacturer, for setup package publisher and folder info -->
<?define Manufacturer = "ELKROT" ?>
<!-- The version number of this setup package-->
<?define Version = "1.0.0" ?>
<!-- Bundle logo-->
<?define Logo = "Resources\logo.ico" ?>
<!-- Bundle EULA rtf document-->
<?define Eula = "Resources\eula.rtf" ?>
<!-- UpgradeCode must be unique and not changed once the first version of the program is installed. -->
<?define UpgradeCode = "c096ca50-2db9-4c61-9802-110afbb3a769" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Bundle Name="$(var.Name)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.Version)" IconSourceFile="$(var.Logo)">

      <!--Bootstrapper UI with EULA and logo-->
      <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
        <bal:WixStandardBootstrapperApplication LicenseFile="$(var.Eula)" LogoFile="$(var.Logo)"
                                                SuppressOptionsUI ="yes" SuppressRepair="yes"/>
        <!--<Payload  Name="BootstrapperCore.config"  SourceFile="$(var.MyMBA.TargetDir)\TestUX.BootstrapperCore.config"/>
        <Payload  SourceFile="$(var.MyMBA.TargetPath)"/>-->
      </BootstrapperApplicationRef>

      <!-->net Framework 4.5.2 offline installer-->
      <Chain ParallelCache="yes">
        <PackageGroupRef Id='Netfx461Full' />

      </Chain>
     
      <!--<util:RegistrySearch Id="SqlInstanceKeyFoundSearch"
                           Root="HKLM"
                           Key="SOFTWARE\Microsoft\Microsoft SQL Server\Instance Names\SQL"
                           Value="SQLEXPRESSENGINE"
                           Result="exists"
                           Variable="SqlInstanceKeyFound"
                           Win64="yes" />

      <PackageGroup Id="SQLServerExpress">
        <ExePackage Compressed="no"
                    DisplayName="Installing SQL Server Express 2014"
                    PerMachine="yes"
                    Cache="yes"
                    Vital="yes"
                    Permanent="no"
                    InstallCommand='/IACCEPTSQLSERVERLICENSETERMS /HIDECONSOLE /INSTANCEID="$(var.InstanceName)" /ACTION="Install" /FEATURES=SQLENGINE /HELP="False" /INDICATEPROGRESS="False" /QUIET="True" /QUIETSIMPLE="False" /ERRORREPORTING="False" /SQMREPORTING="False" /INSTANCENAME="$(var.InstanceName)" /AGTSVCSTARTUPTYPE="Manual" /ISSVCSTARTUPTYPE="Automatic" /ISSVCACCOUNT="NT AUTHORITY\NetworkService" /ASSVCSTARTUPTYPE="Automatic" /ASCOLLATION="Latin1_General_CI_AS" /ASDATADIR="Data" /ASLOGDIR="Log" /ASBACKUPDIR="Backup" /ASTEMPDIR="Temp" /ASCONFIGDIR="Config" /ASPROVIDERMSOLAP="1" /SQLSVCSTARTUPTYPE="Automatic" /FILESTREAMLEVEL="0" /ENABLERANU="True" /SQLCOLLATION="SQL_Latin1_General_CP1_CI_AS" /SQLSVCACCOUNT="NT AUTHORITY\NETWORK SERVICE" /ADDCURRENTUSERASSQLADMIN="True" /TCPENABLED="0" /NPENABLED="0" /BROWSERSVCSTARTUPTYPE="Disabled" /RSSVCSTARTUPTYPE="Automatic" /RSINSTALLMODE="FilesOnlyMode" /SECURITYMODE=SQL /SAPWD="tomsoN_admin_1032"'
                    UninstallCommand='/Action=Uninstall /INSTANCENAME="$(var.InstanceName)" /FEATURES=SQLENGINE /QUIET="True" /HIDECONSOLE'
                    InstallCondition="NOT SqlInstanceKeyFound"
                    DownloadUrl="https://download.microsoft.com/download/1/5/6/156992E6-F7C7-4E55-833D-249BD2348138/ENU/x64/SQLEXPR_x64_ENU.exe"
                    Name="SQLEXPR_x64_ENU.exe">
          <RemotePayload CertificatePublicKey="B78FE7F6917E1BC5F4A9C77BA3D555A0E807B9E0" CertificateThumbprint="67B1757863E3EFF760EA9EBB02849AF07D3A8080" Description="Microsoft SQL Server 2014  Express SP1" Hash="0C90C147A1C2A550165C9301AE7A6C604E318E51" ProductName="Microsoft SQL Server 2014  Express SP1" Size="318752832" Version="12.1.4100.1" />
        </ExePackage>

      </PackageGroup>-->
   
        
        

      <Chain>
        <MsiPackage DisplayName="$(var.Name)" SourceFile="$(var.SolutionDir)\XFilesArchive.SetupProject\bin\Debug\ru-ru\XFilesArchive.SetupProject.msi" 
                    DisplayInternalUI="yes" Compressed="yes" Vital="yes"/>

      </Chain>
    </Bundle>
</Wix>
